In [19]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
li = [4, 8, 15, 16, 23,42]

In [3]:
df=pd.Series(li)

In [4]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(df)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
l2 =[1,3,'pw','data_science',(90,5),66,44,{123,456},'krish','sudh']

In [7]:
df1 = pd.Series(l2)

In [8]:
df1

0               1
1               3
2              pw
3    data_science
4         (90, 5)
5              66
6              44
7      {456, 123}
8           krish
9            sudh
dtype: object

In [9]:
dict = {"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"gender":["Female","Male","Female"]}

In [10]:
df2 = pd.DataFrame(dict)

In [11]:
df2

     Name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Data frame is a two dimensional tabular structure of data set. whereas pandas series is a one dimensional array holding any data types.Data Frame in pandas contains many number od rows and columns but pandas series contains only one columns

series can be represented as df.["column_name"]

data frame can be printed as df[['column name']]

In [12]:
#for example
df2['Age']

0    25
1    30
2    27
Name: Age, dtype: int64

In [13]:
type(df2['Age'])

pandas.core.series.Series

In [14]:
df2[['Age']]

   Age
0   25
1   30
2   27

In [15]:
type(df2[['Age']])

pandas.core.frame.DataFrame

What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are numerous function availabe in pandas library. Some of them are
1. head()
2. tail()
3.dtype
4.columns

head(n) is used to print n number of rows from the top in a dataset.
tail(n) is used to print n number of rows from the bottom in a dataset.
dtypes is used to print the data types of each columns in a data set
columns is used to give the name of every column value in  a dataset

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame and Panel is mutable

Create a DataFrame using multiple Series. Explain with an example.

In [22]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(["a","b","c","d","e"])
s3 = pd.Series([1.2,1.3,1.4,1.5,1.6])

In [ ]:
df4 = pd.DataFrame({"col1":s})